<div ng-include="'views/menu.html'">
</div>
<style>
  #game-app {
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 0 0 10px hsl(0, 0%, 80%),
    0 0 0 15px hsl(0, 0%, 90%);
  }
</style>
<md-content>
  <div layout="column" layout-align="top center">
    <div layout="row" layout-wrap>
      <h2>Game</h2>
    </div>
  </div>

  <div layout="column" layout-align="top center">
    <div id="game-app"></div>
  </div>
</md-content>

<script type="text/javascript ">
  NProgress.start();
  NProgress.done();
</script>