<script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>

<div ng-include="'views/menu.html'"></div>
<md-content flex layout-padding>
  <div layout="column" layout-align="top center">
    <div layout="row" layout-wrap>
      <h2>Game</h2>
    </div>
  </div>
</md-content>

<script type="text/javascript ">
  NProgress.start();
  NProgress.done();

  var config = {
    type: Phaser.AUTO,
    width: 800,
    height: 600,
    scene: {
      preload: preload,
      create: create,
      update: update
    }
  };

  var game = new Phaser.Game(config);

  function preload() {
    this.load.setBaseURL('http://127.0.0.1:8080/');

    this.load.image('bottom_left', 'Game/images/bl.png');
    this.load.image('bottom_right', 'Game/images/br.png');
    this.load.image('upper_left', 'Game/images/ul.png');
    this.load.image('upper_right', 'Game/images/ur.png');
  }

  function create() {
    this.add.image(400, 300, 'bottom_left')
  }

  function update() {}
</script>